body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

html {
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.button {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  outline: 40px solid #f2f2f2;
  /*box-shadow: ;*/
}

.navigation {
  position: relative;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.site-navigation li:first-child {
  text-align: left;
  margin-left: 50px;
}

.site-navigation li:nth-child(2) {
  text-align: left;
  margin-right: 165px;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  margin-left: 50px;
}

.site-navigation li:last-child {
  text-align: right;
  margin-right: 50px;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation a {
  display: block;
  padding: 14px 20px;
  color: #000000;
  font-weight: 700;
}

.site-navigation a:hover,
.hotel-name:hover {
  color: #81b3d2;
}

a:hover path {
  fill: #81b3d2;
}

.site-navigation a:active,
.hotel-name:active {
  color: #cacaca;
}

a:active path {
  fill: #cacaca;
}

a.active {
  color: #766357;
}

.intro {
  background-image: url("../img/bg1.jpg");
  width: 1200px;
  height: 509px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro::after {
  content: " ";
  position: absolute;
  width: 1200px;
  height: auto;
  background-image: url("../img/shape.png");
  background-color: red:
}

.intro img {
  display: block;
  width: 458px;
  margin: 0 auto;
  padding-top: 76px;
}

.features {
  margin: 0;
  padding-top: 58px;
  text-align: center;
  background-color: #ffffff;
}

.features-title {
  width: 440px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
  font-size: 21px;
  font-weight: 700;
}

.feature-description {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

.feature-row {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
}

.feature-row-blue {
  background-color: #81b3d2;
  color: #ffffff;;
}
.feature-row-grey {
  background-color: #eeeeee;
}

.feature {
  position: relative;
  width: 33.333333%;
  margin: 0;
  padding: 50px 55px 65px 55px; /* определить отступ побокам */
}

.feature-icon {
  padding-top: 165px;
  padding-bottom: 72px;
}

.feature-icon-home .feature-title::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 80px;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.feature-icon-food .feature-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-icon-souvenir .feature-title::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 80px;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
}

.feature p {
  width: 285px;
  margin: 0 auto;
  padding: 0;
}

.feature-img {
  width: 66.666666%;
}


.feature-img img {
  display: block;
  height: auto;
}

.booking-form {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.booking-title {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.booking-info {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 49px;
  line-height: 21px;
}

.booking {
  width: 568px;
  margin: 0 auto;
  background-color: #ffffff;
  outline: 1px solid black; /* Временно */
}

.booking form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.booking .button-brown {
  min-width: 568px;
  margin-bottom: 55px;
  padding: 29px 140px;
  background-color: #766357;
  cursor: pointer;
}

.booking .button-brown:hover {
  background-color: #604e43;
}

.booking .button-brown:focus {
  background-color: #503e33;
  color: #928a85;
}

.booking-item {
  position: relative;
  width: 568px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.booking-item label {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  font-weight: 700;
}

.booking-item input {
  box-sizing: border-box;
  width: 346px;
  padding: 12px 40px 12px 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.booking-item input:hover {
  background-color: #ebebeb;
}

.booking-item input:focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.calendar {
  content: " ";
  position: absolute;
  right: 60px;
  top: 10px;
  width: 23px;
  height: 23px;
  border: 0;
  font-size: 0;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.booking-amount label {
  margin-left: 54px;
  margin-right: 40px;
  font-weight: 700;
}

.booking-amount input {
  box-sizing: border-box;
  width: 40px;
  padding: 11px 10px;
  border: none;
  background-color: #eeeeee;
}

.booking-btn {
  width: 40px;
  height: 38px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: none;
}


form .button {
  display: block;
  width: 458px;
  margin: 55px auto;
  padding: 16px 0;
  cursor: pointer;
}

form .button:hover {
  background-color: #669ec0;
}

form .button:focus {
  background-color: #5496bd;
  color: #88b6d1;
}

.map {
  margin-top: 291px;
  margin-bottom: 0px;
  width: 100%;
}

.map iframe {
  display: block;
  width: 100%;
  height: 593px;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
}

.footer-index {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0.8;
}

.hashtag {
  width: 136px;
  margin: 0;
  padding: 0;
  margin-right: 256px;
  margin-left: 132px;
  font-size: 21px;
  font-weight: 700;
}

.social-btns {
  display: flex;
  justify-content: space-between;
  width: 148px;
  padding: 0;
  list-style: none;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
  fill: #ffffff;
}

.social-btn:focus {
  background-color: #5496bd;
  fill: #cacaca;
}

.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: 0;
  margin-left: auto;
  margin-right: 100px;
}

.filters {
  background-image: url("../img/filterbackground.jpg");
  width: 100%
  height: auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;;
  background-color: #81b3d2;
}

.filters form {
  display: flex;
}

.filter-title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 15px;
  list-style: none;
}

.filter-item {
  margin-bottom: 23px;
}


.filter-item label {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.filter-item label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 1px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 28px;
  height: 23px;
}

.filter-item input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-col-one {
  margin-left: 72px;
}

.filter-col-two {
  margin-left: 120px;
}

.filter-range {
  width: 318px;
  margin-left: auto;
  margin-right: 73px;
  color: #ffffff;
  text-transform: uppercase;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 140px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 23px;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.results-filters {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
}

.results-total {
  display: block;
  padding: 30px 0 30px 72px;
  width: 236px;
  vertical-align: center;
  font-size: 21px;
  font-weight: 700;
}

.sort {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.sort-title {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.sort-type {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-type li {
  position: relative;
  margin-right: 33px;
}

.sort-link {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

a.sort-link-active {
  color: #81b3d2;
  border-bottom: none;
}

.sort-link:hover {
  color: #81b3d2;
}

.sort-link:active {
  color: #000000;
  border-bottom: none;
}

.sort-arrows {
  position: relative;
  margin-left: auto;
  margin-right: 73px;
  width: 34px;
}

.arrow {
  font-size: 0;
}

.arrow-up::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/icon-up-dir.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.arrow-down::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  background-image: url("../img/icon-down-dir.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.arrow-down + .arrow-active::before {
  fill: #ffffff;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}


.hotels-item {
  display: flex;
  outline: 1px solid #f2f2f2;
}

.hotel-img img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 30px 30px 30px 72px;
}

.hotel-description a {
  color: #000000;
}

.hotel-description {
  display: flex;
  flex-wrap: wrap;
}

.hotel-name {
  width: 100%;
  margin-top: 24px;
  font-size: 21px;
  font-weight: 700;
}

.hotel-type,
.hotel-price {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  line-height: 21px;
}

.hotel-description-col .button {
  display: block;
  margin: 0 auto;
  padding: 3px 5px;
  width: 110px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.hotel-description .button:hover {
  background-color: #669ec0;
}

.hotel-description .button:focus {
  background-color: #5496bd;
  color: #88b6d1;
}

.hotel-description-col .button-brown {
  display: block;
  margin: 0 auto;
  padding: 3px 5px;
  width: 130px;
  background-color: #766357;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.hotel-description .button-brown:hover {
  background-color: #604e43;
}

.hotel-description .button-brown:focus {
  background-color: #503e33;
  color: #928a85;
}

.hotel-description-col {
  margin-right: 10px;
}

.hotel-description-col a {
  background-color: #81b3d2;
}

.hotel-rating {
  position: relative;
  margin-left: auto;
  margin-right: 72px;
}

.hotel-stars span {
  content: "";
  position: absolute;
  display: inline-block;
  font-size: 0;
  right: 0px;
  top: 20px;
  background-image: url("../img/star.svg");
  background-position: 0 0;
  width: 72px;
  height: 17px;
}

.rating {
  margin: 0;
  margin-top: 93px;
  padding: 6px 13px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #666666;
}
